  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Add a little description", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
  </div>

<!-- AFFICHER MES PLANTES -->

<br>

<div class="container">
  <div class="cards">
    <% @cocktail.doses.each do |dose| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dose.photo_url %>)">
  <%= dose.name %>
  <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-small btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
